.container {
  margin:0 auto;
  max-width: 860px;
  padding: 0 1.5rem;
}

.header {
	text-align: center;
  padding: 24px 0;
  position: relative;
  a {
  	text-decoration: none;
  	color: $text-color;
  	display: inline-block;
  }
  img {
  	max-height: 72px;
  	margin: 0 auto;
  	display: block;
  }
  span {
    font-size: 2em;
  	font-family: 'Signika', sans-serif;
    font-weight: 600;
  }
  &:after {
  	display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }
}

.footer {
  margin-top: 2em;
  &:before {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }
}